* {
    margin: 0 auto;
}

body {
    background-color: rgb(145, 145, 255);
}

#logo {
    float: left;
    position: fixed;
    top: 0;
    z-index: 3;
}

nav {
    float: left;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 255, 0.7);
    z-index: 3;
    backdrop-filter: blur(10px);
    z-index: 4;
}

nav li {
    list-style: none;
    float: right;
    width: 15%;
    text-align: center;
    display: block;
}

nav li :hover {
    background-color: rgb(90, 90, 255);
}

nav li a {
    color: white;
    text-decoration: none;
    font-style: normal;
    display: block;
    height: 64px;
    line-height: 64px;
}

#contect {
    margin: 50px;
    border: 10px solid #3e3e3e;
    height: 700px;
    width: 80%;
    overflow: hidden;
}

#contect img {
    margin: 20px;
    width: 300px;
    height: 200px;
    position: absolute;
    float: left;
}

table {
    background-color: rgba(172, 255, 47, 0.75);
    border: 5px solid rgb(100, 100, 100);
    width: 100%;
    margin-bottom: 50px;
    height: 300px;
    display: none;
}

.img1 img{
    transform: rotateX(0deg);
    z-index: 1;
    animation: rotateAnimation2 5s ease-in-out 0s infinite alternate;
}

.img2 img {
    transform: rotateX(180deg);
    z-index: -1;
    animation: rotateAnimation1 5s ease-in-out 0s infinite alternate;
}
/* 我发誓这些所有的代码绝绝对对都是我自己码的，绝对没抄袭 */
@keyframes rotateAnimation1 {
    0% {
        transform: rotateX(180deg);
        z-index: -1;
    }

    25% {
        transform: rotateX(180deg);
        z-index: -1;
    }

    50% {
        transform: rotateX(90deg);
        z-index: -1;
    }

    51% {
        transform: rotateX(90deg);
        z-index: 1;
    }

    75% {
        transform: rotateX(0deg);
        z-index: 1;
    }

    100% {
        transform: rotateX(0deg);
        z-index: 1;
    }
}

@keyframes rotateAnimation2 {
    0% {
        transform: rotateX(0deg);
        z-index: 1;
    }

    25% {
        transform: rotateX(0deg);
        z-index: 1;
    }

    50% {
        transform: rotateX(-90deg);
        z-index: 1;
    }

    51% {
        transform: rotateX(-90deg);
        z-index: -1;
    }

    75% {
        transform: rotateX(-180deg);
        z-index: -1;
    }

    100% {
        transform: rotateX(-180deg);
        z-index: -1;
    }
}

.text {
    position: absolute;
    margin: 20px;
    right: 100px;
    width: 700px;
}

#switchBar {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: rgba(0, 180, 15, 0.75);
}

#s1, #s2, #s3, #s4, #s5{
    float: left;
    margin: 8px;
    border-radius: 10px;
    height: 100px;
    width: 17%;
    background-size: cover;
    overflow: hidden;
}

#s1:hover, #s2:hover, #s3:hover, #s4:hover, #s5:hover{
    box-shadow: 5px 3px 5px #0009ab;
}

.blurPan{
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#switchBar div:hover .blurPan{
    transition: all 0.5s;
    backdrop-filter: blur(5px);
}

h3{
    top: 5px;
    margin-left: 0;
    position: relative;
    color: #858585;
}

#switchBar div:hover h3{
    transition: all 0.5s;
    font-size: x-large;
    color: #0e00ce;
    top: 35px;
    text-shadow: 0px 0px 10px white;
    z-index: 2;
}

#s1 {
    background-image: url("..\\images\\C\\C1-01.jpg");
}

#s2 {
    background-image: url("..\\images\\C\\C2-01.png");
}

#s3 {
    background-image: url("..\\images\\C\\C3-01.png");
}

:target {
    display: block;!important
}
